body {
    min-height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(205, 226, 239);
    border-radius: 40px;
}
.style1 {
    background-color: aqua;
    padding: 10px;
    width: 50%;
    transition: all .3s linear;
}

nav {
    position: absolute;
    min-height: 100vh;
    background-color: bisque;
    right: -100%;
    padding: 40px;
    top: 0;
    transition: all .4s;
}

.add {
    position: fixed;
    z-index: 9;
    right: 20px;
    top: 10px;
    background: linear-gradient();
}

.open-nav {
    right: 0;
    transition: all .4s;
}

.para {
    color: rebeccapurple;
    background: wheat;
}

.li {
    color: red;
}